body {
    background-color: #ECECEC;
    margin:0;
    padding:0;
    font-family: 'Roboto';
    color: #212121;
}
a {
    text-decoration: none;
}
.head-li {
    color: #757575;
}
.head-li:hover {
    color: #2196F3;
}
.container {
    width: 1200px;
    margin: auto;
align-items: center;
    display: flex;

}
.header {
    background-color: #ECECEC;
    display:flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.header img {
object-fit: contain;
margin-left: 215px;
}
ul{
list-style-type: none;
}
.links {
    display: flex;
    align-items: center;
    justify-content:center;
}
.navig {
    display: flex;
    justify-content: space-around;
    width: 281px;
    color: #212121;
}
.mail {
    margin: 0px 0px 0px 600px;
    display: flex;
}
.tel {
    margin:0px 215px 0px 50px;
    display: flex;
}
.main-button {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: #2F303A;
    flex-direction: column;
    width: 100%;
}
.container-button button {
    border-radius: 4px;
    background-color:#2196F3;
    width: 216px;
    height: 50px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-button h1 {
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.cont-about {
height: 760px;
display: flex;
align-items: center;
flex-direction: column;
width: 100%;
}
.about {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 93px;
    margin-top: 102px;
}
.soft {
    height: 100px;
    width: 1170px;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-evenly;
    margin-top: 100px;
}
.soft li{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.soft h3 {
    margin: 0;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-bottom: 10px;
color: #212121;
}
.soft p {
    margin: 0;
font-style: normal;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.we-doing {
    display: flex;
    align-items: center;
    width: 1170px;
    height: 386px;
    flex-direction: column;
    margin-top:94px;
    padding-bottom: 90px;
 
}
.we-doing h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
}
.imgtechno {
    display: flex;
    justify-content:space-between;
    padding-top:50px;
    width: inherit;
    padding-left: 0;
}
.comand {
height: 648px;
background: #F5F4FA;
display: flex;
flex-direction: column;
align-items: center;
}
.container-comand h2 {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 117%;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin: 0;
padding-bottom:50px ;
}
.photo-comand h3{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 119%;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.photo-comand p{
font-style: normal;
font-size: 16px;
line-height: 119%;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.photo-comand li{
    width: 270px;
    height: 386px;
    background-color:#FFFFFF;
}
.photo-comand {
    width: 1170px;
    height: 378px;
    display: flex;
    justify-content: space-between;
    padding-bottom:102px;
    margin: 0;
    padding-left: 0;
}
.footer {
height: 252px;
background-color:#2F303A;
flex-direction: column;
display: flex;
align-items: flex-start;
}
.logo-footer {
object-fit: contain;
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 231px;
    height: 81px;
    padding-left: 0;
}
.list-address {
    padding-left: 0;
}
.street{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 0;
}
.address a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 8px;
}
.cardt{
    width: 270px;
    height: 260px;
}
.logotip {
    width: 145px;
    height: 31px;
    padding-top: 60px;
    padding-left: 215px;
}
.main {
    width: 1240px;
    height: 1360px;
    background-color: #EEEEEE;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin:auto;
    margin-top: 94px;
    margin-bottom: 94px;
}
.buttons {
width: 575px;
height: 54px;
display: flex;
justify-content: space-between;
margin: auto;
padding: 0;

}
.sorting-button {
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding:6px 22px 6px 22px;
cursor: pointer;
}
.sorting-button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}
.projects li{
    width: 370px;
    height: 404px;
    background-color:#FFFFFF;
    margin-bottom: 30px;
    border-bottom: 1px;
    border-color: #757575;
}
.name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 0;
    margin-left: 15px;
}
.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left:15px;
}
.logo-webstudio {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 120%;
letter-spacing: 0.03em;
color: #000000;
width: 145px;
height: 31px;

}
.logo-webstudio span{
    color: #2196F3;
}
.logo-webstudio-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 145px;
    height: 31px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.logo-webstudio-2 span{
    color:#2196F3;
}
.infor {
    width: 231px;
}
.container-projects {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.container-footer {
    width: 1200px;
    margin: auto;
}
.container-button {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-we-doing {
    width: 1200px;
    margin: auto;
}
.container-comand {
    width: 1200px;
    margin: auto;
    flex-direction: column;
    display: flex;
}