body {
    background-color: #FFFFFF;
    margin:0;
    padding:0;
    font-family: 'Roboto';
    color: #212121;
    width: 100%;
}
h1 {
    margin: 0;
}
h2 {
        margin: 0;
    }
h3 {
    margin: 0;
}
h4 {
    margin: 0;
}
h5 {
    margin: 0;
}
p {
    margin: 0;
}
li {
    margin: 0;
}
a {
    text-decoration: none;
}
.head-li {
    color: #212121;
}
.links-hf:hover {
    color: #2196F3;
}
.links-hf:focus {
    color: #2196F3;
}
.current {
    color: #2196F3;
}
.links-hf:active {
    color: #2196F3;
}
.button-hf:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-hf:focus {    
    background-color: #2196F3;
    color: #FFFFFF;
}
.container {
    width: 1200px;
    margin: auto;
align-items: center;
    display: flex;
}
.container-header {
    width: 1200px;
    margin:0 auto;
align-items: center;
    display: flex;
    padding: 0 15px;
}
section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.header {
    background-color: #FFFFFF;
    display:flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    border-bottom: solid 1px #ECECEC;
}
.header img {
object-fit: contain;
margin-left: 215px;
}
ul{
list-style-type: none;
margin: 0;
}
.links {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 344px;
    padding: 0;
}
.nav {
    width: 281px;
    margin-left: 93px;
    padding: 0;
}
.navig {
    display: flex;
    justify-content: space-around;
    color: #212121;
    padding: 0;
}
.mail {
    padding: 15px 0;
    display: flex;
    color: #757575;
}
.link-child-tel {
    margin-left: 50px;
}
.tel {
    padding: 15px 0;
    display: flex;
    color: #757575;
}
.main-button {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: #2F303A;
    flex-direction: column;
    width: 100%;
    padding: 200px 0;
}
.container-button button {
    border-radius: 4px;
    background-color:#2196F3;
    width: 216px;
    height: 50px;
    border: 0;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-button h1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 136%;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 50px;
}
.cont-about {
display: flex;
align-items: center;
flex-direction: column;
width: 100%;
}
.about {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 93px;
    margin-top: 102px;
}
.soft {
    gap: 30px;
    display:flex;
    padding: 0;
}
.soft li{
width: 270px;
}
.about-soft-li h3{
    padding: 0;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 0;
color: #212121;

}
.soft p {
    margin: 0;
font-style: normal;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.we-doing {
    display: flex;
    align-items: center;
    width: 1170px;
    height: 386px;
    flex-direction: column;
    margin:0;
}
.we-doing h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
    margin-bottom:50px;
}
.imgtechno {
    display: flex;
    width: inherit;
    padding-left: 0;
    margin: 0;
    gap: 30px;
}
.comand {
background: #F5F4FA;
}
.container-comand h2 {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 117%;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin: 0;
margin-bottom:50px ;
}
.photo-comand h3{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 119%;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.photo-comand p{
font-style: normal;
font-size: 16px;
line-height: 119%;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.photo-comand li{
    width: 270px;
    background-color:#FFFFFF;
}
.photo-comand {
    display: flex;
    margin: 0;
    padding-left: 0;
    gap: 30px;
}
.footer {
background-color:#2F303A;
padding: 60px 0;
}
.logo-footer {
object-fit: contain;
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 231px;
    height: 81px;
    padding-left: 0;
}
.list-address {
    padding-left: 0;
}
.street{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.map-ua {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.cardt{
    width: 270px;
    height: 260px;
}
.logotip {
    width: 145px;
    height: 31px;
    padding-top: 60px;
    padding-left: 215px;
}
.main {
    width: 100%;
    background-color: #FFFFFF;
    margin:auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.buttons {
width: 575px;
display: flex;
justify-content: space-between;
margin: auto;
padding: 0;
margin-bottom:50px;

}
.sorting-button {
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding:6px 22px 6px 22px;
cursor: pointer;
}
.projects {
    gap: 30px;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    padding: 0;
}
.projects li{
    width: 370px;
    background-color:#FFFFFF;
}
.projects li>img {
    width:100% ;
    height: auto;
}
.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: #212121;
}
.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left:15px;
}
.logo-webstudio {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 120%;
letter-spacing: 0.03em;
color: #000000;
width: 145px;
height: 31px;

}
.logo-webstudio span{
    color: #2196F3;
}
.logo-webstudio-2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 145px;
    display: block;
    margin-bottom: 20px;
}
.logo-webstudio-2 span{
    color:#2196F3;
}
.infor {
    width: 231px;
}
.container-projects {
    width: 1200px;
    margin:0 auto;
    padding: 0 15px;
}
.container-footer {
    width: 1200px;
    margin:0 auto;
    padding:0 15px;
}
.container-button {
    width: 1200px;
    margin:0 auto;
}
.container-we-doing {
    width: 1200px;
    margin:0 auto;
    padding: 0 15px;
}
.container-comand {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.harakter {
    padding: 30px 32px;
}
.harakter h3 {
    margin-bottom:10px ;
}
.direction-img {
    border-bottom:solid 1px #EEEEEE;
    border-left: solid 1px #EEEEEE;
    border-right: solid 1px #EEEEEE;
    padding: 20px 24px;
}
.direction-img h2 {
    margin: 0;
} .direction-img p {
margin: 0;
}
.box-img {
    width: 100%;
    height: auto;
}
.non-top-padding {
    padding-top: 0;
}
